{"swagger":"2.0","info":{"title":"Default title","description":"","version":"1.0"},"host":"atlas.microsoft.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/search/address/json":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"summary":{"type":"object","properties":{"query":{"type":"string","description":"query"},"queryType":{"type":"string","description":"queryType"},"queryTime":{"type":"integer","format":"int32","description":"queryTime"},"numResults":{"type":"integer","format":"int32","description":"numResults"},"offset":{"type":"integer","format":"int32","description":"offset"},"totalResults":{"type":"integer","format":"int32","description":"totalResults"},"fuzzyLevel":{"type":"integer","format":"int32","description":"fuzzyLevel"}},"description":"summary"},"results":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"type"},"id":{"type":"string","description":"id"},"score":{"type":"number","format":"float","description":"score"},"address":{"type":"object","properties":{"streetNumber":{"type":"string","description":"streetNumber"},"streetName":{"type":"string","description":"streetName"},"municipalitySubdivision":{"type":"string","description":"municipalitySubdivision"},"municipality":{"type":"string","description":"municipality"},"countrySecondarySubdivision":{"type":"string","description":"countrySecondarySubdivision"},"countrySubdivision":{"type":"string","description":"countrySubdivision"},"countrySubdivisionName":{"type":"string","description":"countrySubdivisionName"},"postalCode":{"type":"string","description":"postalCode"},"extendedPostalCode":{"type":"string","description":"extendedPostalCode"},"countryCode":{"type":"string","description":"countryCode"},"country":{"type":"string","description":"country"},"countryCodeISO3":{"type":"string","description":"countryCodeISO3"},"freeformAddress":{"type":"string","description":"freeformAddress"},"localName":{"type":"string","description":"localName"}},"description":"address"},"position":{"type":"object","properties":{"lat":{"type":"number","format":"float","description":"lat"},"lon":{"type":"number","format":"float","description":"lon"}},"description":"position"},"viewport":{"type":"object","properties":{"topLeftPoint":{"type":"object","properties":{"lat":{"type":"number","format":"float","description":"lat"},"lon":{"type":"number","format":"float","description":"lon"}},"description":"topLeftPoint"},"btmRightPoint":{"type":"object","properties":{"lat":{"type":"number","format":"float","description":"lat"},"lon":{"type":"number","format":"float","description":"lon"}},"description":"btmRightPoint"}},"description":"viewport"},"entryPoints":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"type"},"position":{"type":"object","properties":{"lat":{"type":"number","format":"float","description":"lat"},"lon":{"type":"number","format":"float","description":"lon"}},"description":"position"}}},"description":"entryPoints"}}},"description":"results"}}}}},"summary":"Get Search Address and Geocode","description":"Get Search Address and Geocode","operationId":"map","parameters":[{"name":"subscription-key","in":"query","required":false,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"integer"},{"name":"language","in":"query","required":false,"type":"string"},{"name":"query","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer"}]}},"/route/matrix/json":{},"/route/matrix/sync/json":{},"/GET /spatial/greatCircleDistance/json":{},"/spatial/greatCircleDistance/json":{}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}